<nav class="navbar navbar-expand-lg bg-secondary">
        <a href="/" class="navar-brand"><i class="fas fa-check-square text-success fa-3x"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
            <i class="fas fa-bars "></i>
        </button>

        <div class="container">
            <div id="menu" class="collapse navbar-collapse">

                <ul class="navbar-nav mr-auto">
    
                    <li class="nav-item">
                        <a href="/" class="nav-link">Início</a>
                    </li>
                    <li class="nav-item">
                        <a href="/tarefas/tarefas" class="nav-link">Tarefas</a>
                    </li>   

                    {{#if user}}<!-- Esse "user" é uma variável global-->

                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Sair</a>
                    </li>

                    {{else}}
                        <li class="nav-item">
                            <a href="/login" class="nav-link">Entrar</a>
                        </li> 
                        <li class="nav-item">
                            <a href="/register" class="nav-link">Cadastrar-se</a>
                        </li>       
                    {{/if}}

                </ul>
    
            </div>

            <div class="text-white">
                {{#if user}}
                        {{#each user}}
                            {{#if nome}}
                                {{nome}}
                            {{else}}

                            {{/if}}
                        {{else}}
    
                        {{/each}}
                {{else}}

                {{/if}}
            </div>
        </div>

</nav>