        {{#each erros}}
            <div class="container alert alert-danger">{{texto}}</div>
        {{else}}

        {{/each}}
        
        <div class="jumbotron">
            <div class="row justify-content-center">
                {{#each user}}
                    {{#if nome}}
                        <h1 class="text-center" id="welcome">Bem vindo a Lista de Tarefas, {{nome}}!</h1>
                    {{else}}

                    {{/if}}
                {{else}}
                    <h1 class="text-center" id="welcome">Bem vindo a Lista de Tarefas!</h1>
                {{/each}}
    
            </div>
            <div class="container">
                <hr>
                <div class="row justify-content-center">
                    <p class="text-center">Listas de tarefas são um dos melhores métodos para aumentar a sua produtividade. Uma rotina pode ser confusa e cheia de coisas para fazer se você trabalha ou estuda, e especialmente se faz as duas coisas. Além disso, é uma ótima sensação riscar uma tarefa da lista depois de concluí-la.</p>
                    <a href="/tarefas/tarefas" class="btn btn-success mt-5" class="text-center"><h4>Experimente você mesmo.</h4></a>
                </div>
            </div>
        </div>

        <div id="lista">
            <div class="container mt-5 mb-3">
                <div class="row justify-content-center">
                    <h1 class="text-center">Motivos para usar uma lista de tarefas</h1>
                </div>
            </div>
            
            <div class="container">
                <div class="pl-5 pr-5 mt-3">
    
                    <div class="row justify-content-between">
                        <div class="texto">
                            <h3>Praticidade</h3>
                        </div>
                        <div class="chek">
                            <i class="fas fa-check-square text-success fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="row border mb-4"></div>
    
                <div class="pl-5 pr-5 mt-3">
    
                    <div class="row justify-content-between">
                        <div class="texto">
                            <h3>Organização</h3>
                        </div>
                        <div class="chek">
                            <i class="fas fa-check-square text-success fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="row border mb-4"></div>
    
                <div class="pl-5 pr-5 mt-3">
    
                    <div class="row justify-content-between">
                        <div class="texto">
                            <h3>Acesso remoto</h3>
                        </div>
                        <div class="chek">
                            <i class="fas fa-check-square text-success fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="row border mb-4"></div>
    
                <div class="pl-5 pr-5 mt-3">
    
                    <div class="row justify-content-between">
                        <div class="texto">
                            <h3>Satisfação</h3>
                        </div>
                        <div class="chek">
                            <i class="fas fa-check-square text-success fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="row border mb-4"></div>
        </div>
        <div class="container">
            <div class="col">
                <div class="row justify-content-center">
                    
                    <a href="/tarefas/tarefas" class="btn btn-success mt-5 ml-4" class="text-center"><h3>Ótimo! Eu quero criar minha Lista de Tarefas.</h3></a>
                </div>
            </div>
        </div>

        <div class="container bg-dark mt-5 mb-5 pb-5 rounded">
            <div class="row mb-3 pt-3 justify-content-center"><!--Fazer o comentário-->
                <h3 class=" text-white"><i class="far fa-comment text-white mr-2"></i> Adicione comentários, sugestões ou críticas.</h3>
            </div>
            <div class="row justify-content-center">
                <div class="card col-md-9 bg-dark border-white">
                    <div class="card-body">
                        <form action="/comentarios/cadastrar" method="POST"><!--Formulário-->
                            
                            <div class="form-group">
                                <textarea type="Nome" class="form-control" name="comentario" placeholder="Digite seu comentário"></textarea>
                            </div>

                            <div class="row justify-content-center">
                                <button class="btn btn-outline-success col-md-6 font-weight-bold">Enviar</button>
                            </div>
                        </form><!--/Formulário-->
                    </div>
                </div>
            </div><!--/Fazer o comentário-->

            <div class="bg-dark mt-4">

                {{#each comentarios}}

                <div class="row justify-content-center mt-3"><!--Um comentário-->
                        <div class="col-md-10 border border-light rounded bg-light p-2">
                            <p class="">{{texto}}</p>
                            <small class="text-dark">Autor: {{autor}}</small>
                            <div>
                                <a href="/comentarios/remover/{{_id}}/{{idUsuario}}"><i class="fas fa-times text-danger"></i></a>
                            </div>
                        </div>
                        
                </div><!--/Um comentário-->

                {{else}}
                {{/each}}
                
            </div>

        </div>